@{
    ViewData["Title"] = "Panel Główny";
}

<div class="text-center">
    <h1 class="display-4">Witaj w panelu MoviePortal!</h1>
    <p>Wybierz opcję z menu po lewej stronie, aby rozpocząć pracę.</p>
</div>